/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/jun/2017, 0:03:49
    Author     : sandracoelli
*/

@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-hard{
    width: 380px;
    height: 280px;
    border: none;
    overflow: hidden;
}

iframe#frame-hard::-webkit-scrollbar{
    display:none;
}